/*
* @Author: Administrator
* @Date:   2018-06-30 14:55:04
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-07 22:52:54
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: 400;
}
html{
	font-size: 1px;
	color: #515151;
}
body{
	font-family:"futura-pt", Futura, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
}
button {
    border: none;
    background: #005aa9;
}
a{
	color: #57c8e7;
	cursor: pointer;
}

.content>h3{
	letter-spacing: 0.15em;
	font-weight: 400;
}
.content .img img{
	width: 100%;
}
.content .ifo{
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}
.content .ifo>div{
	margin-top: 40px;
}
.content .ifo h1,
.content .ifo h2{
	line-height: 28px;
    letter-spacing: 1px;
    margin: 0;
}
.content .ifo h1{
	font-size: 40px;
    color: #ed2b37;
}
.content .ifo h2{
	color: #000;
}
.content .ifo>div>h4{
	font-size: 21px;
	margin: 0;
	letter-spacing: 1px
}
.content .ifo>div>div{
	margin-top: 55px;
}
.content .ifo>div>div h4{
	font-size: 21px;
}
.content .ifo i{
	font-weight: 700;
	color: #ed2b37;
	font-style:normal;
}
.content .ifo>div>p{
	font-weight: 700;
}
.content .ifo ol li{
	list-style-type:decimal ;
	margin-left: 18px;
}
#l_btn {
    padding: 5px 32px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    color: white;
    font-weight: 700;
    margin: 40px 0 70px 0;
}
#l_btn:hover{
	background: #007cc4;
}
.content .ifo ul a:hover{
	color: #57c8e7;
	text-decoration: none;
}
.content .ifo ul li,
.txt{
	font-size: 10px;
}
.content .ifo ul a{
	font-size: 12px;
}
.txt{
	padding: 20px 0;
	line-height: 1.5em;
}


.picks_header{
	width: 387px;
	height: 68px;
	background-image: url('../images/characters_picksmain.png');
	background-position: right top;
	background-repeat: no-repeat;
	
}
.picks_header p{
	color: #ef67a5;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 35px;
}
.picks_main{
	margin-top: 10px;
	padding: 20px 10px 0px 10px;
	border-top: 7px solid #eaf7fe;
	border-bottom: 7px solid #eaf7fe;
	margin-bottom: 50px;
}
.picks_maincontent .row .thumbnail{
	border: none;
}
.picks_maincontent .row .thumbnail .picks_imgbox{
	width: 100%;
	height: 0;
	padding: 0 0 86%;
	border: 1px solid lightgray;
	overflow: hidden;
	position: relative;
}
.picks_maincontent .row .thumbnail img{
	width: 100%;
	cursor: pointer;
}
.picks_maincontent .row .thumbnail .caption{
	padding: 0px;
}
.picks_maincontent .row .thumbnail h3{
	cursor: pointer;
	color: #515151;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}
.picks_maincontent .row .thumbnail h3:hover{
	text-decoration: underline;
}

.thumbnail .quick_view{
	position: absolute;
	width: 146px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	background: #0461a9;
	left: 50%;
	margin-left: -73px;
	top: 50%;
	margin-top: -15px;
	letter-spacing: 5px;
	cursor: pointer;
	display: none;
}
.thumbnail .quick_view p{
	font-size: 14px;
}
.thumbnail .quick_view.q_viewshow{
	display: block;
}
.thumbnail .quick_view:hover{
	background: #2384cf;
}

.media {
	position: relative;
}
.media .media-title,
 .media .media-body{
	float: right;
	width: 40%;
}
.media-left img{
	width: 100%;
}

.star span{
	color: #ffd530;
	margin-right: 8px;
	font-size: 20px;
}
.item,.link{
	font-size: 10px;
}
.link span a:hover{
	text-decoration: underline;
}
.media-left .img_hover{
	position: absolute;
	background: rgba(255,255,255,0.5);
	width: 20%;
	padding-bottom: 20%;
	display: none;
}



.media-left ul li{
	margin-right: 15px;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
}
.media-left ul li:hover{
	border-color:  #000;
}

.media-body .price{
	font-size: 18px;
}
.media-body .link span a{
	color: #005aa9;
	padding: 0 5px;

}
.media-body .link span:nth-child(2){
	border-right: 1px solid #005aa9;
	border-left: 1px solid #005aa9;
}
.media-body .num input{
	margin-left: 10px;
	border:none;
	background: #eaf7fe;
	padding: 10px;
	width: 60px;
}
.media-body #l_btn{
	padding: 7px 32px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    color: white;
    margin: 0 auto;
}
.media-body #l_btn:hover{
	background: #007cc4;
}
 .media-body .share li{
	float: left;
	margin-right: 10px;
}
.media-body .share li>button{
	padding: 10px;
	border-radius: 2px;
}
.media-body .share li>button:hover{
	background: #007cc4;
}
.media-body .share li img{
	width:20px;
}
.zoomDiv{
	z-index:10;
	position:absolute;
	top:0px;
	right:0px;
	width:43%;
	background:#ffffff;
	display:none;
	text-align:center;
	overflow:hidden;
}
.zoomMask{
	position:absolute;
	background:rgba(255, 255, 255, 0.5);
	cursor:pointer;
	z-index:998;
}
.View_Img01{
	position: absolute;
	left: 51px;
	width: 93%;
	z-index: 999;
	border: 4px solid #20c4f4;
	display: none;
	z-index: 999;
}

.View_Img01>img{
	width: 100%;
}

.View_Img01 span{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 10px;
	display: inline-block;
	background: #20c4f4;
	cursor: pointer;
}

.View_Img01 span>img{
	width: 20px;
}
.gray{
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.15);
    display: none;
}

.qck_view{
	position: absolute;
	left: 100px;
	background: #fff;
	display: none;
	overflow: hidden;
	z-index: 900;
}
.qck_view .media{
	margin: 50px 10px 20px 10px;
}
.full_link{
	display: inline-block;
	padding-top:13px; 
}
.full_link a{
	padding-left: 10px;
	text-decoration: underline;
	font-size: 20px;
}
.full_link a:hover{
	color: #20c4f4;
}
.qck_view .clo_btn{
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 10px;
	cursor: pointer;
}



@media(max-width:1200px){
	.container{
		width: 100%;
	}
}
@media(min-width: 1200px){
	.container{
		width: 1172px;
		padding: 0;
	}
}
@media (min-width: 760px){
	.media-left{
	    width: 57%;
	    float: left;
	}
	.gvw-con .gvw-right{
		width: 40%;
		float: right;
	}

}
@media (max-width: 759px){
	.media-left,
	.media .media-title
	{
	    width: 100%;
	    float: none;
	}
	.media .media-body{
	   width: 100%;
	   float: none;
	   display: block;
	}
	.qck_view .share{
		overflow: hidden;
	}
	.full_link{
		padding-top: 0;
	}
	.View_Img,
	.View_Img01{
		left: 10px;
		width: 98%;
	}
}